/* Cible spécifiquement la classe bg-primary-dark qui pose problème */
.bg-primary-dark {
    background-color: #7584d6 !important;
    border-radius: 1rem !important;
}

.bg-primary-dark:hover {
    background-color: #465fff !important;
}

/* Applique des coins arrondis aux items de navigation */
#navigation-items a,
#navigation-items button {
    border-radius: 1rem !important;
    /* rounded-2xl */
}

/* Assure que le texte reste blanc */
#topbar-cta-button span,
.bg-primary-dark {
    color: white !important;
}